.authorization{
    width: 272px;
    height: 482px;
    position: absolute;
    margin: 124px 0 0 480px;
    .authorization__main{
        width: 272px;
        height: 340px;
        background: #FFF9F9;
        border-radius: 20px;
    }
    .authorization___footer{
        margin-top: 20px;
        width: 272px;
        height: 122px;
        background: #FFF9F9;
        border-radius: 20px;
    }
    .authorization__logo{
        margin: 20px 0 0 100px;
        width: 66px;
        height: 66px;
        background-color: #EDEEF0;
        border-radius: 50%;
        position: absolute;
    }
    .authorization__text{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        margin: 103px 0 0 73px;
        /* identical to box height */
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FD681B;
    }
    .authorization__block_submit_one{
        background: #EDEEF0;
        border-radius: 10px;
        width: 232px;
        height: 28px;
        position: absolute;
        margin: 149px 0 0 20px;
        padding-left: 10px;
        opacity: 60%;
    }
    .authorization__block_submit_two{
        background: #EDEEF0;
        border-radius: 10px;
        width: 232px;
        height: 28px;
        position: absolute;
        margin: 203px 0 0 20px;
        padding-left: 10px;
        opacity: 60%;
    }
    .authorization__miss_password{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        text-decoration-line: underline;
        margin: 251px 0 0 93px;
        position: absolute;
        color: #000000;
    }
    .authorization__button_sign_in{
        background: #8047D1;
        border-radius: 10px;
        height: 31px;
        width: 232px;
        margin: 285px 0 0 20px;
        color: #EDEEF0;
    }
    .authorization__registration{
        background: #FD681B;
        border-radius: 10px;
        height: 31px;
        width: 232px;
        color: #EDEEF0;
        position: absolute;
        margin: 22px 0 0 20px;
    }
    .authorization__registration_text{
        text-align: center;
        margin: 61px 0 0 30px;
        position: absolute;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;

        color: #8C8C8C;
    }
}